/* Custom Global Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Playpen Sans", cursive;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1b1f23;
    color: #333;
}

/* Header Styling */
header {
    background-color: #004d66;
    color: white;
    padding: 20px 0;
    border-bottom: 2px solid #003b4f;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

header .logo h1 {
    font-size: 24px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 30px 0;
    justify-content: space-between;
    width: 60%;
}

nav li {
    margin: 0;
}

nav a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #1E4966;
    color: white;
    padding: 15px;
    border-radius: 6px;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.menu-icon {
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 5px 0;
    transition: all 0.3s ease;
}

#menu-toggle.open .menu-icon:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle.open .menu-icon:nth-child(2) {
    opacity: 0;
}

#menu-toggle.open .menu-icon:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Main design */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.main-container p,
h2,
h3,
ul,
label {
    color: #ffffff;
}

form {
    width: 100%;
    max-width: 600px;
    background: #1b1f23;
    border: 2px solid #94d2bd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

.submit-btn {
    background: #003b4f;
    color: white;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.membership-levels {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 2px solid #94d2bd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #1b1f23;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #94d2bd;
    border-radius: 8px;
    text-align: center;
    /* opacity: 0; */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card h3 {
    margin: 0 0 10px;
}

.card button {
    background-color: #003b4f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content p,
h2,
h3,
ul {
    color: white;
}

.thanks h1,
p,
h2,
h3,
ul {
    color: white;
}

.modal-content {
    background-color: #1b1f23;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    border: 2px solid #94d2bd;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

/* footer design */
footer {
    background-color: #003b4f;
    color: white;
    padding: 40px 0;
    border-top: 2px solid #002d3b;
    font-size: 14px;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-info {
    max-width: 30%;
}

.footer-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-info address {
    line-height: 1.6;
    color: #b3e6ff;
}

.footer-info a {
    color: #b3e6ff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    justify-content: center;
    max-width: 20%;
}

.footer-social a {
    margin-right: 15px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.footer-social img:hover {
    transform: scale(1.1);
}

.footer-credit {
    max-width: 30%;
    text-align: right;
}

.footer-credit p {
    margin: 5px 0;
    color: #b3e6ff;
}

/* Responsive Menu for Smaller Screens */
@media (max-width: 767px) {
    header .container {
        flex-direction: column;
    }

    #menu-toggle {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 15px 0px;
    }

    nav ul {
        display: list-item;
        width: 100%;
        justify-content: center;
        padding: 20%;
    }

    nav a {
        font-size: 8px;
        color: white;
    }

    nav a:hover {
        background-color: #1E4966;
        color: white;
        padding: 8px;
        border-radius: 6px;
    }

    nav.show {
        display: flex;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-info,
    .footer-credit,
    .footer-social {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-credit p {
        margin: 2px 0;
    }

    .footer-social {
        justify-content: center;
    }
}